.temperatureBox {
  width: 50%;
}

.scaleBox {
  display: flex;
  border: solid 1px black;
}

.scale {
  width: 50%;
  text-align: center;
}

.selected {
  background-color: grey;
  transition: linear 200ms;
}